<ul class="nav nav-tabs journal-control">
    <% if @current_user.present? %>
        <li class="nav-item">
            <%= link_to 'Create a plant!', new_plant_path %>
        </li>
    <% end %>
</ul>

<%# This page shows the unique plants that each user has%>

<% @plants.uniq.each do |plant| %>
    
    <% if plant.image.present? %>
        <%= image_tag plant.image, :class => 'img-thumb' %>
    <% end %>
   <div><%= link_to plant.name, plant %></div>

<% end %>