<!-- Shows all plants that belong to the user -->

<!-- Sub Nav -->
<div class="nav-control">
    <div class="nav-control-container">
        <% if @current_user.present? %>
            <li class="menu-item">
                <%= link_to 'New Plant', new_plant_path, :class => 'nav-control-link' %>
            </li>
        <% end %>
    </div>
</div>

<!-- Content -->
<div class="grid-container">
    <% @plants.uniq.each do |plant| %>
    <div class="grid-item">
        <%= link_to cl_image_tag(plant.image, :class => 'img-thumb'), plant %>
    </div>
    <% end %>
</div>