* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cantora One', sans-serif;
}
nav {
    background-color: #8aeba4;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.logo {
    padding: 40px 0;
    text-align: center;
    background-color: #c4f5d1;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: right;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    min-height: 82vh;
}

.thumb {
    height: 10em;
    width: auto;
    border: 1px solid black;
}

.feature {
    height: 20em;
    width: auto;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
.footer-item {
    background-color: #b1f0c2;
    height: 100px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #8aeba4;
    flex: initial;
    width: 300px;
}