* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cantora One', sans-serif;
}

body {
    background-color: #E5E4E2;
}
/* MASTHEAD */

/* background image */
.masthead {
    background-image: url('masthead_2.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masthead-title {
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* app name */
.masthead-title > h1 {
    color: white;
    min-width: 100%;
    font-size: 65px;
    letter-spacing: 3px;
}

/* word 'diary' */
.masthead-title > h1 > span {
    color: black;
    opacity: 55%;
    margin-left: 20px;
}

@media ( min-width: 600px ) {

    .masthead {
        min-height: 25vh;
    }

    .masthead-title > h1 {
        font-size: 90px;
    }

}

/* MAIN NAV BAR */

/* full screen nav bar */
.nav-menu {
    background-color: #0EE681;
    opacity: 75%;
    display: flex;
    justify-content: center;
}

.nav-container {
    min-width: 60%;
    display: flex;
    justify-content: space-between;
}

.menu-pages {
    display: flex;
    align-items: center;
}

/*  */
.menu-user {
    display: flex;
    align-items: center;
}

/* shared with nav-controls */
.menu-item {
    list-style-type: none;
    padding: 5px 10px;
}

.nav-link {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
}

.nav-link:hover {
    color: black;
    opacity: 80%;
}

/* unicode down-arrow */
.down-arrow {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0EE681;
    margin-top: 5px;
    min-width: 148px;
    padding: 0px 10px;
    z-index: 999;
    border-top: solid 1px white;
}

.dropdown > a {
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* temp fix */
    position: relative;
}

/* SUB NAV CONTROLS  */

.nav-control {
    background-color: #0ee681;
    opacity: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}

.nav-control-container {
    min-width: 60%;
    display: flex;
    align-items: center;
    border-top: solid 2px white;
}

.nav-control-link {
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    opacity: 80%;
}

.nav-control-link:hover {
    color: white;
}

.nav-control-text {
    opacity: 80%;
}

/* "|" */
.nav-control-dividers {
    color: black;
    opacity: 80%;
}

/* PLANTS INDEX PAGE */

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-auto-rows: 450px;
    grid-row-gap: 2.5em;
    grid-column-gap: 2em;
    justify-content: center;
}

.grid-item {
    /* background-color: red; */
    border-radius: 7%;
}

.picture-1 {
    background-image: url('my_plant.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.picture-2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 7%;
}







