.nav-color {
    background-color: #8aeba4;
}

.img-thumb {
    max-width: 300px;
    height: auto;
}

.img-feature {
    max-width: 300px;
    height: auto;
}

.journal-div {
    background-image: url('/assets/greenhouse.jpg');
}

.figure {
    margin: 1em 1em;
}

.journal-control {
    padding: 1em 0.2em;
}

ul.journal-control > li {
    margin: 0 1em 0 1em
}

.row {
    margin-top: 3em;
}

.span-bold {
    font-weight: bold;
    text-align: left;
}

@media (min-width: 1000px) {
    .img-feature {
        max-width: 600px;
        height: auto;
    }
}

.masthead {
    background-image: url('/assets/masthead.jpeg');
    background-size: cover;
    background-repeat: none;

}

.footer-color {
    background-color: #8aeba4;
}